<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h1>
        <%= @user.email %>
      </h1>
      <h1>
        Type: <%= @user.type %>
      </h1>
    </section>
  </aside>
</div>

<br><br>
<% if !@user.is_a? Admin %> 
    <h3 class="center">Course History</h3>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Course number</th>
        <th>Title</th>
        <th>Status</th>
        <th>Grade</th>
        <th>Enrollment</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @user.enrollments.each do |enrollment| %>
          <% course = Course.find_by(id: enrollment.course_id)%>
          <% if (enrollment.status != "Denied") && course%>
              <tr>
                <td><%= link_to course.course_number, course_path(course)%></td>
                <td><%=course.title%></td>
                <td><%=course.status%></td>
                <td><%=enrollment.grade%></td>
                <% if @user.is_a? Instructor %>
                    <td>Instructor</td>
                <% elsif enrollment.status=="Approved" %>
                    <td>Approved</td>
                <% else %>
                    <td>Pending</td>
                <% end %>
                <td><%= link_to 'Drop Course', enrollment, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                
                <%if current_user.is_a? Instructor%>
                   <td><%= link_to 'Post Material', new_material_path(course: enrollment.course_id), class: 'btn btn-warning btn-sm'%></td>
                <%end%>
              </tr>
            
          <%end%>
      <%end%>
      </tbody>
    </table>
<%end%>

