<p id="notice"><%= notice %></p>

<h1>Listing Enrollments</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Course number</th>
      <th>Course title</th>
      <th>Grade</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
    <% if enrollment.user && enrollment.course %>
      <tr>
        <td><%= enrollment.user.name%></td>
        <td><%= enrollment.course.course_number %></td>
        <td><%= enrollment.course.title %></td>
        <td><%= enrollment.grade %></td>
        <%if enrollment.user.is_a? Student%>
          <td><%= enrollment.status %></td>
        <%elsif enrollment.user.is_a? Admin%>
          <td>Admin</td>
        <%else%>
          <td>Instructor</td>
        <%end%>
        <td><%= link_to 'Show', enrollment, class: 'btn btn-primary btn-sm'%></td>
        <%if (enrollment.user.is_a? Student) && (enrollment.grade !=nil)%>
          <td><%= link_to 'Edit Grade', edit_enrollment_path(enrollment) , class: 'btn btn-warning btn-sm'%></td>
        <%elsif (enrollment.user.is_a? Student) && (enrollment.grade ==nil)%>
        <td><%= link_to 'Post Grade', edit_enrollment_path(enrollment) , class: 'btn btn-warning btn-sm'%></td>
        <%else%>
          <td><%= link_to ' ', '', class: 'btn btn-disabled btn-sm' %></td>
        <%end%>
        <td><%= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
  <%end%>
</table>

<br>

<!--<%= link_to 'New Enrollment', new_enrollment_path %>-->
