<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @material.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @material.description %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @material.course.course_number %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @material.course.title %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', course_path(@material.course) %>
